@model EmployeeVM
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Ekle</h2>
<br />

@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.LabelFor(x => x.Employee.FirstName);
    @Html.TextBoxFor(x => x.Employee.FirstName, new { @class = "form-control" });

    <br />
    @Html.LabelFor(x => x.Employee.LastName);
    @Html.TextBoxFor(x => x.Employee.LastName, new { @class = "form-control" });
    <br />

    @Html.LabelFor(x => x.Employee.Email);
    @Html.TextBoxFor(x => x.Employee.Email, new { @class = "form-control" });
    <br />

    @Html.LabelFor(x => x.Employee.Phone);
    @Html.TextBoxFor(x => x.Employee.Phone, new { @class = "form-control" });
    <br />

    @Html.LabelFor(x => x.Employee.Image);
    <br />
    <input type="file" name="Image " />
    <br />
    <br />
    @Html.LabelFor(x => x.Department.Name);
    @Html.DropDownListFor(x => x.Employee.DepartmentID, new SelectList(Model.Departments, "ID", "Name"), "Lütfen Seciniz", new { @class = "form-control" })
    <br />

    <button class="btn btn-danger" style="background-color:yellowgreen">Ekle</button>
}

