@model EmployeeVM
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Ekleme Sayfası</h2>
<br />

@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Adı");
    @Html.TextBoxFor(x => x.Employee.FirstName, new { @class = "form-control" });

    <br />
    @Html.Label("Soyadı");
    @Html.TextBoxFor(x => x.Employee.LastName, new { @class = "form-control" });
    <br />

    @Html.Label("E-mail");
    @Html.TextBoxFor(x => x.Employee.Email, new { @class = "form-control" });
    <br />

    @Html.Label("Telefon");
    @Html.TextBoxFor(x => x.Employee.Phone, new { @class = "form-control" });
    <br />

    @Html.Label("Görsel");
    <br />
    <input type="file" name="Image" />
    <br />
    <br />
    @Html.Label("Çalıştığı Departman");
    @Html.DropDownListFor(x => x.Employee.DepartmentID, new SelectList(Model.Departments, "ID", "Name"), "Lütfen Seciniz", new { @class = "form-control" })
    <br />

    <button class="btn btn-danger" style="background-color:yellowgreen">Ekle</button>
}

