@model EmployeeVM
@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("UpdateEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Employee.ID);

    @Html.Label("Adı");
    @Html.TextBoxFor(x => x.Employee.FirstName, new { @class = "form-control" });

    <br />
    @Html.Label("Soyadı");
    @Html.TextBoxFor(x => x.Employee.LastName, new { @class = "form-control" });
    <br />

    @Html.Label("Email");
    @Html.TextBoxFor(x => x.Employee.Email, new { @class = "form-control" });
    <br />

    @Html.Label("Telefon");
    @Html.TextBoxFor(x => x.Employee.Phone, new { @class = "form-control" });
    <br />

    @Html.Label("Görsel");
    <br />
    <input type="file" name="Image " />
    <br />
    <br />
    @Html.Label("Çaliştığı Departman");
    @Html.DropDownListFor(x => x.Employee.DepartmentID, new SelectList(Model.Departments, "ID", "Name"), "Lütfen Seçiniz", new { @class = "form-control" })
    <br />

    <button class="btn btn-danger" style="background-color:yellowgreen">Güncelle</button>
}

