@model CustomerVM
@{
    ViewBag.Title = "UpdateCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Müşteri Bilgilerini Güncelle</h2>

<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Customer.ID);
    @Html.Label("Adı");
    @Html.TextBoxFor(x => x.Customer.FirstName, new { @class = "form-control" });
    @Html.ValidationMessage("FirstName", "", new { @style = "color:red" })
    <br />
    @Html.Label("Soyadı");
    @Html.TextBoxFor(x => x.Customer.LastName, new { @class = "form-control" });
    @Html.ValidationMessage("LastName", "", new { @style = "color:red" })
    <br />
    @Html.Label("E-mail");
    @Html.TextBoxFor(x => x.Customer.Email, new { @class = "form-control" });
    @Html.ValidationMessage("Email", "", new { @style = "color:red" })
    <br />
    @Html.Label("Şehir");
    @Html.TextBoxFor(x => x.Customer.City, new { @class = "form-control" });
    @Html.ValidationMessage("City", "", new { @style = "color:red" })
    <br />
    @Html.Label("Şifre");
    @Html.TextBoxFor(x => x.Customer.Password, new { @class = "form-control" });


    <button class="btn btn-danger" style="background-color:yellowgreen">Güncelle</button>
}

