@model DepartmentVM
@{
    ViewBag.Title = "DepartmentEployeeSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adi= @ViewBag.Employee</li>
</ol>
<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Urun</th>
        <th>Musteri</th>
        <th>Fiyat ₺</th>
        <th>Adet</th>
        <th>Toplam ₺</th>
        <th>Tarih</th>
    </tr>
    <tbody>
        @{int index = 0; }
        @foreach (SalesMovement item in Model.SalesMovements)
        {
        <tr>
            <td>@{index++;} @index</td>
            <td>@item.Product.Name</td>
            <td>@item.Customer.FirstName  @item.Customer.LastName</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td>@item.TotalPrice</td>
            <td>@item.CreatedDate.ToShortDateString()</td>
            <td>@Html.ActionLink("Yazdır", "#", null, new { @class = "btn btn-success" })</td>

        </tr>
        }
    </tbody>

</table>
