@model ProductVM
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Ürün Ekleme Sayfası</h2>
<br />

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Ürün Adı");
    @Html.TextBoxFor(x => x.Product.Name, new { @class = "form-control" });
    <br />
    @Html.Label("Açıklama");
    @Html.TextBoxFor(x => x.Product.Description, new { @class = "form-control" });
    <br />
    @Html.Label("Marka");
    @Html.TextBoxFor(x => x.Product.Brand, new { @class = "form-control" });
    <br />
    @Html.Label("Stok");
    @Html.TextBoxFor(x => x.Product.Stock, new { @class = "form-control" });
    <br />
    @Html.Label("Alış Fiyat");
    @Html.TextBoxFor(x => x.Product.BuyPrice, new { @class = "form-control" });
    <br />
    @Html.Label("Satış Fiyat");
    @Html.TextBoxFor(x => x.Product.SellPrice, new { @class = "form-control" });
    <br />
    @Html.Label("Ürün Kategorisi");
    @Html.DropDownListFor(x => x.Product.CategoryID, new SelectList(Model.Categories, "ID", "CategoryName"), "Lütfen Seciniz", new { @class = "form-control" })
    <br />
    @Html.Label("Görsel");
    <br />
    <input type="file" name="ProductImage" />

    <br />

    <button class="btn btn-danger" style="background-color:yellowgreen;">Kaydet</button>
}

