@model ProductVM
@{
    ViewBag.Title = "SellProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SellProduct</h2>

<br />

<form class="form-group" method="post">

    @Html.Label("Ürün");
    @*<input type="text" name="ProductID" value="@ViewBag.ProductID" class="form-control" readonly />*@

    @Html.TextBoxFor(x => x.SalesMovement.ProductID, new { @class = "form-control" })
    <br />

    @Html.Label("Personel");
    @{
        var staffList = Model.Employees.Select(s => new { Value = s.ID, Text = $"{s.FirstName} {s.LastName}" });
        SelectList staffSelect = new SelectList(staffList, "Value", "Text");
    }
    @Html.DropDownListFor(m => m.SalesMovement.EmployeeID, staffSelect, "", new { @class = "form-control" })
    <br />

    @Html.Label("Müşteri")
    @Html.TextBoxFor(x => x.SalesMovement.CustomerID, new { @class = "form-control" })
    <br />

    @Html.Label("Adet")
    @Html.TextBoxFor(x => x.SalesMovement.Quantity, new { @class = "form-control", id = "txtQuantity", onchange = "sum();", placeholder = "Adet Giriniz!" })
    @*<input type="number" class="form-control" max="10" min="0" placeholder="adet girin" id="txtQuantity" onchange="sum();" name="Quantity" />*@
    <br />

    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.SalesMovement.Price, new { @class = "form-control", id = "txtPrice", onkeyup = "sum();" })
    <br />

    @Html.Label("Toplam Tutar")
    @Html.TextBoxFor(x => x.SalesMovement.TotalPrice, new { @class = "form-control", id = "txtTotalPrice", @readonly = "readonly" })
    @*<input type="text" name="TotalPrice" value="0" class="form-control" id="txtTotalPrice" readonly />*@
    <br />

    <button class="btn btn-danger">Satış Yap</button>
</form>


<script>
    function sum() {
        var Quantity = document.getElementById('txtQuantity').value;
        var Price = document.getElementById('txtPrice').value;
        var Result = parseInt(Quantity) * parseInt(Price);
        if (!isNaN(Result)) {
            document.getElementById('txtTotalPrice').value = Result;
        }

    }

</script>