@model ProductVM
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2> Ürün Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Product.ID);

    @Html.LabelFor(x => x.Product.Name);
    @Html.TextBoxFor(x => x.Product.Name, new { @class = "form-control" });
    <br />
    @Html.LabelFor(x => x.Product.Brand);
    @Html.TextBoxFor(x => x.Product.Brand, new { @class = "form-control" });
    <br />
    @Html.LabelFor(x => x.Product.Stock);
    @Html.TextBoxFor(x => x.Product.Stock, new { @class = "form-control" });
    <br />
    @Html.LabelFor(x => x.Product.BuyPrice);
    @Html.TextBoxFor(x => x.Product.BuyPrice, new { @class = "form-control" });
    <br />
    @Html.LabelFor(x => x.Product.SellPrice);
    @Html.TextBoxFor(x => x.Product.SellPrice, new { @class = "form-control" });
    <br />
    @Html.LabelFor(x => x.Category.CategoryName);
    @Html.DropDownListFor(x => x.Product.CategoryID, new SelectList(Model.Categories, "ID", "CategoryName"), "Lütfen Seciniz", new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Product.ProductImage);
    @Html.TextBoxFor(x => x.Product.ProductImage, new { @class = "form-control" });
    <br />
    @Html.LabelFor(x => x.Product.Status);
    @Html.TextBoxFor(x => x.Product.Status, new { @class = "form-control" });
    <br />
    <button class="btn btn-danger">Güncelle</button>
}

