@model SalesMovementVM
@{
    ViewBag.Title = "DetailSalesMovement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Satış Detaylari</h2>
<br />
<table id="tbl1" class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Müşteri</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>
    <tbody>
        @foreach (SalesMovement item in Model.SalesMovements)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Product.Name</td>
                <td>@item.Customer.FirstName  @item.Customer.LastName</td>
                <td>@item.Employee.FirstName  @item.Employee.LastName</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.TotalPrice</td>
                <td>@item.Date</td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-success">Yazdır</button>

